<div class="card text-center justify-content-center">
  <div class="card-header">Halaman Registrasi</div>
  <div class="card-body">
    <img
      class="card-img-top"
      style="width: 200px; height: 200px"
      src="https://image.flaticon.com/icons/svg/295/295128.svg"
      alt="Card image cap"
    />
    <form>
      <div id="tengah" class="col-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            [(ngModel)]="user.email"
            [formControl]="email"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            class="form-control"
            required
          />
          <mat-error *ngIf="email.hasError('required')"
            >Email Harus diisi</mat-error
          >
          <mat-error *ngIf="email.hasError('email')"
            >Format email salah</mat-error
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            id="exampleInputPassword1"
            [type]="hide ? 'password' : 'text'"
            placeholder="Password"
            [(ngModel)]="user.password"
            class="form-control"
            [formControl]="password"
            required
          />
        </div>
        <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error *ngIf="password.hasError('required')"
          >Password Harus diisi</mat-error
        >
        <mat-error *ngIf="password.hasError('minlength')"
          >Password harus diisi lebih dari 6 karakter</mat-error
        >
      </div>
      <button type="submit" class="btn btn-primary" (click)="register(user)">
        Registrasi
      </button>
      <div class="form-group form-check">
        <label class="form-check-label" for="exampleCheck1"
          >Sudah punya akun?
          <a style="color: rgb(47, 120, 255)" routerLink="/login"
            >login disini</a
          ></label
        >
      </div>
    </form>
  </div>
</div>
