<div class="card text-center justify-content-center" style="width: 30rem">
  <div class="card-header">Halaman Login</div>
  <div class="card-body">
    <img
      class="card-img-top"
      style="width: 200px; height: 200px"
      src="https://image.flaticon.com/icons/svg/295/295128.svg"
      alt="Card image cap"
    />
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        name="email"
        id="email"
        [(ngModel)]="data.username"
        class="form-control"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        [(ngModel)]="data.password"
        class="form-control"
        placeholder="password"
      />
    </div>
    <button type="submit" class="btn btn-primary" (click)="login()">
      Login
    </button>
    <div class="form-group form-check">
      <label class="form-check-label" for="exampleCheck1"
        >Belum punya akun?
        <a style="color: rgb(47, 120, 255)" (click)="daftar()"
          >daftar disini</a
        ></label
      >
    </div>
  </div>
</div>
